<div class="nav">
    <a href="http://localhost:5000/admin/page/review">
        <div class="nav_button <%= page === 'reviews' ? 'selected' : '' %>">
            <i class="fa-solid fa-gauge"></i>
            <div class="title">Reviews</div>
        </div></a
    >
    <a href="http://localhost:5000/admin/page/properties">
        <div
            class="nav_button <%= page === 'properties' ||  page === 'view property' ? 'selected' : '' %>"
        >
            <i class="fa-solid fa-building"></i>
            <div class="title">Properties</div>
        </div></a
    >
    <a href="http://localhost:5000/owner/page/reservations">
        <div class="nav_button <%= page === 'reservations' || page === 'reservation info' ? 'selected' : '' %>">
            <i class="fa-solid fa-calendar-days"></i>
            <div class="title">Reservation</div>
        </div></a
    >
    <a href="http://localhost:5000/owner/page/inbox">
        <div
            class="nav_button <%= page === 'inbox' || page === 'inbox view' ? 'selected' : '' %>"
        >
            <i class="fa-solid fa-envelope-open-text"></i>
            <div class="title">inbox</div>
        </div></a
    >
    <a href="http://localhost:5000/owner/page/profile">
        <div class="nav_button <%= page === 'profile' ? 'selected' : '' %>">
            <i class="fa-solid fa-user"></i>
            <div class="title">Profile</div>
        </div></a
    >
</div>
