<div class="view_section">
    <div id="galleryPopup" class="popup">
        <div class="popup-content">
            <div class="gallery-top">
                <span class="close-btn" id="closePopup">&times;</span>
            </div>
            <div class="main-galary">
                <button id="left-btn" class="left-btn" type="button">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <div class="img-view">
                    <img
                        id="img-preview"
                        class="img-preview"
                        src="https://lh6.googleusercontent.com/proxy/Ci9diRQL1W_PahthFqTKtCznuMNpRd50PkEkHSZQjaBua9B-7QPf5L8Uaio3QfeJ208HC8FL6MqAi1uR035jDn1Y-KjGyTT55DkT0Jo4GswQVmyiRIjjAPKZDJE"
                        alt=""
                    />
                </div>
                <button id="right-btn" class="right-btn" type="button">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
            <div class="gallery-bottom" id="page-number">
                <h1>Pages numbers appears here</h1>
            </div>
        </div>
    </div>
    <div class="overlay" id="overlay">
        <div class="content" id="overlayContent"></div>
    </div>
    <div class="main">
        <div class="left-container">
            <p class="Property-name">
                <%= propertyData.name + " - (" + propertyData.propertyType +
                ")"%>
            </p>
            <p class="Property-details">
                <%= "occupancy " + propertyData.occupancy + " - distance " +
                propertyData.distance + " km" %>
            </p>
            <hr />
            <div class="owner">
                <div class="profile">
                    <img
                        class="owner-img"
                        src="<%= propertyData.profile_url%>"
                    />
                </div>
                <div class="owner-details">
                    <span class="name">
                        Hosted by <%= propertyData.name %> </span
                    ><br />
                    <span class="since">
                        Member since <%= propertyData.member %>
                    </span>
                </div>
            </div>
            <hr />
            <div class="price">
                <h1>Price (Rs)</h1>
                <p><%= propertyData.price.toLocaleString() %></p>
            </div>
            <hr />
            <div class="info">
                <h1>Description</h1>
                <p><%= propertyData.about %></p>
            </div>
            <hr />
            <div class="facilities">
                <h1>What this place offers</h1>
                <div class="facilitity-container">
                    <% if (propertyData.amenities.length === 0) { %>
                    <div>No amenities yet</div>
                    <% } else { %> <% if
                    (propertyData.amenities.includes("wifi")) { %>
                    <div class="wrap-content">
                        <i class="fa-solid fa-wifi"></i>
                        <p>Wi-Fi</p>
                    </div>
                    <% } %> <% if (propertyData.amenities.includes("kitchen")) {
                    %>
                    <div class="wrap-content">
                        <i class="fa-solid fa-kitchen-set"></i>
                        <p>Kitchen</p>
                    </div>
                    <% } %> <% if (propertyData.amenities.includes("bath")) { %>
                    <div class="wrap-content">
                        <i class="fa-solid fa-bath"></i>
                        <p>Attached Bathrooms</p>
                    </div>
                    <% } %> <% if (propertyData.amenities.includes("food")) { %>
                    <div class="wrap-content">
                        <i class="fa-solid fa-utensils"></i>
                        <p>Food Arrangement</p>
                    </div>
                    <% } %> <% if
                    (propertyData.amenities.includes("washing_machine")) { %>
                    <div class="wrap-content">
                        <i class="fa-solid fa-soap"></i>
                        <p>Washing Machine</p>
                    </div>
                    <% } %> <% } %>
                </div>
            </div>
            <hr />
            <div class="location">
                <h1>Location</h1>
                <div class="Navigation">
                    <iframe
                        src="https://www.google.com/maps?q=<%= propertyData.latitude %>,<%= propertyData.longitude %>&hl=es;z=14&output=embed"
                        width="700"
                        height="300"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="contact">
                <div class="icon">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="info-container">
                    <h1>Call Owner</h1>
                    <p><%= propertyData.phone %></p>
                </div>
            </div>
            <hr />
            <div class="contact">
                <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="info-container">
                    <h1>Email</h1>
                    <p><%= propertyData.email %></p>
                </div>
            </div>
            <hr />
            <div class="contact">
                <div class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="info-container">
                    <h1>Address</h1>
                    <p><%= propertyData.address %></p>
                </div>
            </div>
            <hr />
            <div class="contact">
                <div class="icon">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="info-container">
                    <h1>Full Name</h1>
                    <p><%= propertyData.name %></p>
                </div>
            </div>
            <hr />
            <div class="calendar" style="margin-top: 80px">
                <div class="cal-info">
                    <div class="icon">
                        <i class="fa-regular fa-image"></i>
                    </div>
                    <div class="info-container">
                        <h1>Property photos</h1>
                    </div>
                </div>
                <button id="gallery" class="gallery" type="button">
                    View Property photos
                </button>
            </div>
            <hr />
            <div class="calendar">
                <div class="cal-info">
                    <div class="icon">
                        <i class="fa-solid fa-file"></i>
                    </div>
                    <div class="info-container">
                        <h1>Legal documents</h1>
                    </div>
                </div>
                <a
                    href="https://www.inria.fr/sites/default/files/2021-12/LB_IoT_EN_WEB_HD_2.pdf"
                    class="gallery"
                    download="optional_filename"
                    target="_blank"
                    >Download File</a
                >
            </div>
            <hr />
            <div class="review-btn">
                <button id="reject" class="reviewStatus-btn" type="button">
                    <p class="review-option">Reject</p>
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <button id="accept" class="reviewStatus-btn" type="button">
                    <p class="review-option">Accept</p>
                    <i class="fa-solid fa-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    const galleryButton = document.getElementById("gallery");
    const galleryPopup = document.getElementById("galleryPopup");
    const closePopup = document.getElementById("closePopup");

    const leftBtn = document.getElementById("left-btn");
    const rightBtn = document.getElementById("right-btn");

    const acceptBtn = document.getElementById("accept");
    const rejectBtn = document.getElementById("reject");

    const pageNumber = document.getElementById("page-number");
    const imgPreview = document.getElementById("img-preview");

    const overlay = document.getElementById("overlay");
    const overlayContentHTML = document.getElementById("overlayContent");

    const loadingHTML = `
<div class="loading" id="loading">
<div class="spinner"></div>
<div class="loading-text" id="loadingText">Please Wait...</div>
</div>
`;

    const commetDiv = `
    <div style="display: flex; width: 80%; flex-direction: column;">
    <input placeholder="Reason for the rejection" style="padding: 20px; margin-bottom: 20px;" type="text">
    <button style="width: 100%; background-color: #800000; color: white" id="submit" >Submit</button>
</div>
    `

    const registrationSuccess = ` Success! <br> You will be redirected to the reviews page shortly..`;

    rejectBtn.addEventListener("click", () => {
        overlay.style.display = "flex";
        document.body.style.overflow = "hidden";
        overlayContentHTML.innerHTML = commetDiv;

        document.getElementById("submit").addEventListener("click", handleFormSubmission)
    });

    const handleFormSubmission = async (event) => {
        event.preventDefault();

        overlay.style.display = "flex";
        document.body.style.overflow = "hidden";
        overlayContentHTML.innerHTML = loadingHTML;

        setTimeout(() => {
            overlayContentHTML.innerHTML = registrationSuccess;
            setTimeout(() => {
                window.location.href =
                    "http://localhost:5000/admin/page/review";
            }, 3000);
        }, 2000);
    };

    acceptBtn.addEventListener("click", handleFormSubmission);

    let images = [
        "/uploads/prop1.jpeg",
        "/uploads/prop2.jpeg",
        "/uploads/prop3.jpeg",
        "/uploads/prop10.jpg",
        "/uploads/prop9.jpg",
        "/uploads/prop5.jpg",
        "/uploads/prop6.jpg",
        "/uploads/prop7.jpg",
        "/uploads/prop8.jpg",
    ];
    let currentIndex = 0;

    // Open the popup when the gallery button is clicked
    galleryButton.addEventListener("click", () => {
        galleryPopup.style.display = "flex";
        document.body.style.overflow = "hidden";

        if (images.length > 0) {
            changeImage(currentIndex);
        } else {
            console.error("No images available to display.");
        }
    });

    leftBtn.addEventListener("click", () => {
        if (currentIndex > 0) {
            currentIndex--;
            changeImage(currentIndex);
        }
    });

    rightBtn.addEventListener("click", () => {
        if (currentIndex < images.length - 1) {
            currentIndex++;
            changeImage(currentIndex);
        }
    });

    const changeImage = (index) => {
        imgPreview.src = images[index]; // Update the image source
        pageNumber.innerText = `${index + 1}/${images.length}`; // Update the page number
    };

    // Close the popup when the close button is clicked
    closePopup.addEventListener("click", () => {
        galleryPopup.style.display = "none";
        document.body.style.overflow = "";
    });

    // Close the popup if clicked outside the popup content
    window.addEventListener("click", (event) => {
        if (event.target === galleryPopup) {
            galleryPopup.style.display = "none";
            document.body.style.overflow = "";
        }
    });
</script>
