<div class="listings">
    <div class="header">
        <div class="container_title">All Owners</div>
    </div>
    <div class="container_line"></div>
    <div class="table_container">
        <table>
            <colgroup>
                <col />
                <col />
                <col />
                <col />
                <col />
                <col />
            </colgroup>

            <thead>
                <tr>
                    <th>No.</th>
                    <th>Owner</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if (ownersData.length === 0) { %>
                <tr>
                    <td colspan="6" style="text-align: center; height: 200px;">No properties available.</td>
                </tr>
            <% } else { %>
                <% ownersData.forEach((owner, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td>
                            <div class="property">
                                <div class="title">
                                    <%= owner.name %>
                                </div>
                            </div>
                        </td>
                        <td><%= owner.email %></td>
                        <td><%= owner.phone %></td>
                        <td>
                            <% if (owner.status === "published") { %>
                                <div class="active">Published</div>
                            <% } else if (owner.status === "pending") { %>
                                <div class="pending">Pending</div>
                            <% } else if (owner.status === "rejected") { %>
                                <div class="warning">Rejected</div>
                            <% } %>
                        </td>
                        <td>
                            <a href="http://localhost:5000/admin/page/owners/view/<%= owner.id %>">Info</a>
                            <button onclick='handlePropertyDelete("<%= owner.id %>")'>Remove</button>
                        </td>
                    </tr>
                <% }); %>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="overlay" id="overlay">
        <div class="content" id="overlayContent">
            <div class="title">
                Are you Sure?
            </div>
            <div class="warning">
                This can't be undone.
            </div>
            <div class="button_container">
                <button class="closeBtn"  id="closeBtn">
                    Go Back
                </button>
                <button class="deleteBtn" id="deleteBtn">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin_property.js"></script>
