<div class="profile">
    <div class="top_container">
        <div class="header">
            <div class="container_title">My Account</div>
        </div>
        <div class="container_line"></div>
        <div class="info_container">
            <div class="img_container">
                <img src="<%= profileData.image%>" alt="" />
            </div>
            <div class="account_info">
                <div class="user_name"><%= profileData.userName%></div>
                <div class="name"><%= profileData.name%></div>
                <div class="about">
                    <%= profileData.about%>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_container">
        <div class="left">
            <div class="header">
                <div class="container_title">Contact Info</div>
            </div>
            <div class="container_line"></div>
            <div class="info_container">
                <div class="info">
                    <div class="lable">Phone</div>
                    <div class="value"><%= profileData.phone%></div>
                </div>
                <div class="info">
                    <div class="lable">Email</div>
                    <div class="value"><%= profileData.email%></div>
                </div>
            </div>
        </div>
        <div class="mid">
            <div class="header">
                <div class="container_title">Legal Info</div>
            </div>
            <div class="container_line"></div>
            <div class="info_container">

                <div class="info">
                    <div class="lable">Legal Name</div>
                    <div class="value"><%= profileData.legName%></div>
                </div>
                <div class="info">
                    <div class="lable">Permenet Address</div>
                    <div class="value">
                        <%= profileData.address%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
