<div class="form_section">
    <div class="form_header ">
        <div class="form_info">
        </div>
    </div>
    <div class="form_container form_padding">
        <form id="registrationForm">
            <div class="form_sub_title">Property Details</div>
            <div class="input">
                <input
                    id="name"
                    placeholder="Property Name"
                    type="text"
                    name="name"
                    value="<%= propertyData.name %>"
                    required
                />
                <label for="name"
                    >Property name will be displayed to users</label
                >
            </div>
            <div class="input">
                <select id="propertyType" name="propertyType">
                    <option value="" disabled <%= !propertyData.propertyType ? "selected" : "" %>>Select your option</option>
                    <option value="apartment" <%= propertyData.propertyType === 'apartment' ? "selected" : "" %>>Apartment</option>
                    <option value="house" <%= propertyData.propertyType === 'house' ? "selected" : "" %>>House</option>
                    <option value="studio" <%= propertyData.propertyType === 'studio' ? "selected" : "" %>>Studio</option>
                    <option value="shared-room" <%= propertyData.propertyType === 'shared-room' ? "selected" : "" %>>Shared Room</option>
                </select>
                <label for="propertyType">Propery type</label>
            </div>

            <div class="input">
                <input
                    id="occupancy"
                    placeholder="Occupancy"
                    type="number"
                    name="occupancy"
                    value="<%= propertyData.occupancy %>"
                    required
                />
                <label for="occupancy">Number of students accommodated</label>
            </div>


            <div class="input">
                <div class="radio_group">
                    <label class="radio-option">
                        <input
                            type="radio"
                            name="furnishingType"
                            value="fully-furnished"
                            required
                            <%= propertyData.furnishingType === 'fully-furnished' ? 'checked' : '' %>
                        />
                        <span>Fully Furnished</span>
                    </label>
                    <label class="radio-option">
                        <input
                            type="radio"
                            name="furnishingType"
                            value="semi-furnished"
                            <%= propertyData.furnishingType === 'semi-furnished' ? 'checked' : '' %>
                        />
                        <span>Semi-Furnished</span>
                    </label>
                    <label class="radio-option">
                        <input
                            type="radio"
                            name="furnishingType"
                            value="none"
                            <%= propertyData.furnishingType === 'none' ? 'checked' : '' %>
                        />
                        <span>None</span>
                    </label>
                </div>

                <label for="furnishingType">Furnishing Type</label>
            </div>
            <div class="input">
                <label for="password" id="password_label"
                    >Amenities (Choose all that apply)</label
                >
                <div class="amenities_checks">
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="wifi"
                            name="amenities"
                            value="wifi"
                            <% if (propertyData.amenities.includes("wifi")) { %> checked <% } %>
                        />
                        <label for="wifi" class="checkbox-label">
                            <i class="fa-solid fa-wifi"></i>Wi-Fi
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="kitchen"
                            name="amenities"
                            value="kitchen"
                            <% if (propertyData.amenities.includes("kitchen")) { %> checked <% } %>
                        />
                        <label for="kitchen" class="checkbox-label">
                            <i class="fa-solid fa-fire-burner"></i>Kitchen
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="bath"
                            name="amenities"
                            value="bath"
                            <% if (propertyData.amenities.includes("bath")) { %> checked <% } %>
                        />
                        <label for="bath" class="checkbox-label">
                            <i class="fa-solid fa-bath"></i>Attached bathrooms
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="food"
                            name="amenities"
                            value="food"
                            <% if (propertyData.amenities.includes("food")) { %> checked <% } %>
                        />
                        <label for="food" class="checkbox-label">
                            <i class="fa-solid fa-utensils"></i>Food arrangement
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="washingMachine"
                            name="amenities"
                            value="washingMachine"
                            <% if (propertyData.amenities.includes("washingMachine")) { %> checked <% } %>
                        />
                        <label for="washingMachine" class="checkbox-label">
                            <i class="fa-solid fa-shirt"></i>Washing machine
                        </label>
                    </div>
                </div>
            </div>
            <div class="input">
                <div class="file_input">
                    <input
                        id="profilePhoto"
                        placeholder="Profile photo"
                        type="file"
                        accept=".jpg, .jpeg, .png"
                        name="profilePhoto"
                        multiple
                        hidden
                        maxlength="10"
                    />
                    <input
                        id="customFileName"
                        type="text"
                        placeholder="Property Images"
                        readonly
                        class="file_readonly"
                    />
                    <button
                        type="button"
                        class="file_button"
                        id="profileSelectBtn"
                    >
                        Select Files
                    </button>
                </div>
                <label for="profilePhoto"
                    >Accepted file types: jpeg, png (Minimun: 5, Maximum:
                    10)</label
                >

                <div id="imagePreviews" class="image-previews">
                    <!-- Images will be previewed here -->
                </div>
            </div>
            <div class="input">
                <textarea
                    id="about"
                    placeholder="About"
                    required
                    name="about"
                    maxlength="500"
                ><%= propertyData.about %></textarea>
                <label for="about"
                    >Brief Description about your Property (max: 500 charactors)
                </label>
            </div>
            <div class="form_line"></div>
            <div class="form_sub_title">Contact Details</div>
            <div class="input">
                <input
                    id="email"
                    placeholder="Email"
                    type="email"
                    name="email"
                    value="<%= propertyData.email %>"
                    required
                />
                <label for="email"
                    >Email that is used by the Boarding Bridge to contact
                    you</label
                >
            </div>
            <div class="input">
                <input
                    id="phone"
                    placeholder="Phone (Ex: +94 123 456 7890)"
                    pattern="^\+?[1-9]\d{1,14}$"
                    type="tel"
                    name="phone"
                    value="<%= propertyData.phone %>"
                    required
                />
                <label for="phone"
                    >Phone number that is used by the Boarding Bridge to contact
                    you</label
                >
            </div>
            <div class="input">
                <div class="checkbox">
                    <input id="terms" type="checkbox" required />
                    <label for="terms"
                        >I agree to the
                        <a href="#">[Terms & Conditions]</a> and<a href="#">
                            [Privacy Policy]</a
                        ></label
                    >
                </div>
            </div>
            <div class="input">
                <button id="submitBtn" type="submit">Update</button>
            </div>
        </form>
    </div>
    <div class="overlay" id="overlay">
        <div class="content" id="overlayContent"></div>
    </div>
</div>
<script src="/js/owner_property_edit.js"></script>
