<div class="res_info">
    <div class="table_container">
        <table>
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><%= reservationData.name%></td>
                </tr>
                <tr>
                    <td>Property</td>
                    <td>
                        <div class="property">
                            <img src="<%= reservationData.image%>" alt="">
                            <div class="title"><a href="http://localhost:5000/owner/page/property/view/<%= reservationData.propertyId%>"><%= reservationData.property%> </a></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Reservation Date</td>
                    <td><%= reservationData.date%></td>
                </tr>
                <tr>
                    <td rowspan="2">Contact</td>
                    <td ><%= reservationData.phone%></td>
                </tr>
                <tr>
                    <td ><%= reservationData.email%></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
