<div class="analitics">
    <div class="analitics_container total">
        <div class="icon">
            <div class="icon_bg">
                <i class="fa-solid fa-chart-line"></i>
            </div>
        </div>
        <div class="info">
            <div class="title">Total Views</div>
            <div class="sub_title"><%= analisys.totalViews%></div>
        </div>
    </div>
    <div class="analitics_container properties">
        <div class="icon">
            <div class="icon_bg">
                <i class="fa-solid fa-building"></i>
            </div>
        </div>
        <div class="info">
            <div class="title">Published Properties</div>
            <div class="sub_title"><%= analisys.totalPublished%></div>
        </div>
    </div>
    <div class="analitics_container approvel">
        <div class="icon">
            <div class="icon_bg">
                <i class="fa-solid fa-hourglass-end"></i>
            </div>
        </div>
        <div class="info">
            <div class="title">Waiting for Approvel</div>
            <div class="sub_title"><%= analisys.waitingForApproval%></div>
        </div>
    </div>
</div>
<div class="reserved_dates_container">
    <div class="container_title">Reserved Dates</div>
    <div class="container_line"></div>
    <div class="calender_wrapper">
        <div class="calendar">
            <div class="calendar-header">
                <button id="prev-month">❮</button>
                <span id="month-year"></span>
                <button id="next-month">❯</button>
            </div>
            <div class="calendar-body">
                <div class="calendar-days">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="calendar-dates" id="calendar-dates"></div>
            </div>
        </div>
        <div class="properties">
            <div class="container_title" id="res_date">Reservations</div>
            <div class="container_line"></div>
            <div class="properties_container" id="properties_container"></div>
        </div>
    </div>
</div>
<div class="info_container">
    <div class="most_viewed">
        <div class="container_title">Most Viewed Property</div>
        <div class="container_line"></div>
        <div class="container">
            <img src="/images/property1.jpg" alt="property" />
            <div class="info_wrapper">
                <div class="title"><%= analisys.mostViewed.name %></div>
                <div class="pub_date">
                    Published On: <%= analisys.mostViewed.pubDate %>
                </div>
                <div class="total">
                    Total Views: <%= analisys.mostViewed.totalViews %>
                </div>
                <div class="duration">
                    Published for: <%= analisys.mostViewed.pubDuration %>
                </div>
            </div>
        </div>
    </div>
    <div class="notifications">
        <div class="container_title">Inbox</div>
        <div class="container_line"></div>

        <div class="notifications_wrapper">
            <% if (notificationData.length === 0) { %>
            <div
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                "
            >
                No Notifications
            </div>
            <% } else { %> <% notificationData.forEach((notification) => { %>
            <a
                href="http://localhost:5000/owner/page/inbox/view/<%= notification.id %>"
                style="text-decoration: none; color: rgb(50, 50, 50)"
            >
                <div class="notification">
                    <div class="icon"><i class="fa-solid fa-check"></i></div>
                    <div class="not_info">
                        <div class="title"><%= notification.title %></div>
                        <div class="timestamp">
                            <%= notification.timestamp %>
                        </div>
                        <div class="description">
                            <%= notification.description %>
                        </div>
                    </div>
                </div>
            </a>
            <% }); %> <% } %>
        </div>
    </div>
</div>
<script src="/js/owner_dashboard.js"></script>
