<div class="solve_form_section">
    <div class="form_title">Solve Property Registration</div>
    <div class="form_line"></div>
    <div class="form_header form_padding">
        <div class="form_sub_title">
        </div>
        <div class="form_info warning">
            <%= propertyData.rejectReson%>
        </div>
    </div>
    <div class="form_container form_padding">
        <form id="registrationForm">
            <div class="form_line"></div>
            <div class="form_sub_title">Property Details</div>
            <div class="input">
                <input
                    id="name"
                    placeholder="Property Name"
                    type="text"
                    name="name"
                    value="<%= propertyData.name %>"
                />
                <label for="name">Property name will be displayed to users</label>
            </div>
            <div class="input">
                <select id="propertyType" name="propertyType">
                    <option value="" disabled <%= !propertyData.propertyType ? "selected" : "" %>>Select your option</option>
                    <option value="apartment" <%= propertyData.propertyType === 'apartment' ? "selected" : "" %>>Apartment</option>
                    <option value="house" <%= propertyData.propertyType === 'house' ? "selected" : "" %>>House</option>
                    <option value="studio" <%= propertyData.propertyType === 'studio' ? "selected" : "" %>>Studio</option>
                    <option value="shared-room" <%= propertyData.propertyType === 'shared-room' ? "selected" : "" %>>Shared Room</option>
                </select>
                <label for="propertyType">Property type</label>
            </div>
            <div class="input">
                <input
                    id="address"
                    placeholder="Property Address"
                    type="text"
                    name="address"
                    required
                    value="<%= propertyData.address %>"
                />
                <label for="address">Exact location of your property</label>
            </div>
            <div class="input">
                <input
                    id="location"
                    placeholder="0.0000000, 0.0000000"
                    type="text"
                    name="location"
                    value="<%= propertyData.latitude + ', ' +  propertyData.longitude %>"
                    required
                />
                <label for="location">latitude and longitude values copied from google maps</label>
            </div>
            <div class="input">
                <input
                    id="occupancy"
                    placeholder="Occupancy"
                    type="number"
                    name="occupancy"
                    value="<%= propertyData.occupancy %>"
                    required
                />
                <label for="occupancy">Number of students accommodated</label>
            </div>
            <div class="input">
                <input
                    id="distance"
                    placeholder="Distance From the University (km)"
                    type="number"
                    name="distance"
                    value="<%= propertyData.distance %>"
                    required
                />
                <label for="distance">Approximate distance from the university</label>
            </div>
            <div class="input">
                <div class="radio_group">
                    <label class="radio-option">
                        <input
                            type="radio"
                            name="furnishingType"
                            value="fully-furnished"
                            required
                            <%= propertyData.furnishingType === 'fully-furnished' ? 'checked' : '' %>
                        />
                        <span>Fully Furnished</span>
                    </label>
                    <label class="radio-option">
                        <input
                            type="radio"
                            name="furnishingType"
                            value="semi-furnished"
                            <%= propertyData.furnishingType === 'semi-furnished' ? 'checked' : '' %>
                        />
                        <span>Semi-Furnished</span>
                    </label>
                    <label class="radio-option">
                        <input
                            type="radio"
                            name="furnishingType"
                            value="none"
                            <%= propertyData.furnishingType === 'none' ? 'checked' : '' %>
                        />
                        <span>None</span>
                    </label>
                </div>
                <label for="furnishingType">Furnishing Type</label>
            </div>
            <div class="input">
                <label for="password" id="password_label">
                    Amenities (Choose all that apply)
                </label>
                <div class="amenities_checks">
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="wifi"
                            name="amenities"
                            value="wifi"
                            <% if (propertyData.amenities.includes("wifi")) { %> checked <% } %>
                        />
                        <label for="wifi" class="checkbox-label">
                            <i class="fa-solid fa-wifi"></i>Wi-Fi
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="kitchen"
                            name="amenities"
                            value="kitchen"
                            <% if (propertyData.amenities.includes("kitchen")) { %> checked <% } %>
                        />
                        <label for="kitchen" class="checkbox-label">
                            <i class="fa-solid fa-fire-burner"></i>Kitchen
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="bath"
                            name="amenities"
                            value="bath"
                            <% if (propertyData.amenities.includes("bath")) { %> checked <% } %>
                        />
                        <label for="bath" class="checkbox-label">
                            <i class="fa-solid fa-bath"></i>Attached bathrooms
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="food"
                            name="amenities"
                            value="food"
                            <% if (propertyData.amenities.includes("food")) { %> checked <% } %>
                        />
                        <label for="food" class="checkbox-label">
                            <i class="fa-solid fa-utensils"></i>Food arrangement
                        </label>
                    </div>
                    <div class="amenities_check">
                        <input
                            type="checkbox"
                            id="washingMachine"
                            name="amenities"
                            value="washingMachine"
                            <% if (propertyData.amenities.includes("washingMachine")) { %> checked <% } %>
                        />
                        <label for="washingMachine" class="checkbox-label">
                            <i class="fa-solid fa-shirt"></i>Washing machine
                        </label>
                    </div>
                </div>
            </div>

            <div class="input">
                <div class="file_input">
                    <input
                        id="profilePhoto"
                        placeholder="Profile photo"
                        type="file"
                        accept=".jpg, .jpeg, .png"
                        name="profilePhoto"
                        multiple
                        hidden
                    />
                    <input
                        id="customFileName"
                        type="text"
                        placeholder="Property Images"
                        readonly
                        class="file_readonly"
                    />
                    <button type="button" class="file_button" id="profileSelectBtn">
                        Select Files
                    </button>
                </div>
                <label for="profilePhoto">Accepted file types: jpeg, png (Minimum: 5, Maximum: 10)</label>

                <div id="imagePreviews" class="image-previews">
                </div>
            </div>
            <div class="input">
                <textarea
                    id="about"
                    placeholder="About"
                    required
                    name="about"
                    maxlength="500"
                    required
                ><%= propertyData.about %></textarea>
                <label for="about">Brief Description about your Property (max: 500 characters)</label>
            </div>
            <div class="form_line"></div>
            <div class="form_sub_title">Contact Details</div>
            <div class="input">
                <input
                    id="email"
                    placeholder="Email"
                    type="email"
                    name="email"
                    value="<%= propertyData.email %>"
                    required
                />
                <label for="email">Email that is used by the Boarding Bridge to contact you</label>
            </div>
            <div class="input">
                <input
                    id="phone"
                    placeholder="Phone (Ex: +94 123 456 7890)"
                    pattern="^\+?[1-9]\d{1,14}$"
                    type="tel"
                    name="phone"
                    required
                    value="<%= propertyData.phone %>"
                />
                <label for="phone">Phone number that is used by the Boarding Bridge to contact you</label>
            </div>
            <div class="form_line"></div>
            <div class="form_sub_title">Legal Information</div>
            <div class="input">
                <input
                    id="leg_name"
                    placeholder="Full Name of the Property Owner"
                    name="legName"
                    type="text"
                    value="<%= propertyData.legName %>"
                    required
                />
                <label for="leg_name">Name that is used in any of a legal document (e.g., utility bill, bank statement)</label>
            </div>
            <div class="input">
                <div class="file_input">
                    <input
                        id="legal_doc"
                        placeholder="Tax Bill/Municipal Bill/Utility Bill"
                        type="file"
                        accept=".pdf, .jpg, .jpeg, .png"
                        name="legDocument"
                        hidden
                    />
                    <input
                        id="customDocFileName"
                        type="text"
                        placeholder="NIC/Driving License/Passport Document"
                        readonly
                        class="file_readonly"
                    />
                    <button type="button" class="file_button" id="docSelectBtn">
                        Select File
                    </button>
                </div>
                <label for="legal_doc">Please upload a recent document (e.g., utility bill, bank statement) to verify your identity. This document should display your name and address clearly and must be dated within the last 3 months. Accepted file types: jpeg, png</label>
            </div>
            <div class="input">
                <div class="checkbox">
                    <input id="terms" type="checkbox" <%= propertyData.termsAccepted ? 'checked' : '' %> required />
                    <label for="terms">I agree to the <a href="#">[Terms & Conditions]</a> and <a href="#">[Privacy Policy]</a></label>
                </div>
            </div>
            <div class="input">
                <button id="submitBtn" type="submit">Submit</button>
            </div>
        </form>


    </div>
    <div class="overlay" id="overlay">
        <div class="content" id="overlayContent"></div>
    </div>
</div>
<script src="/js/owner_property_solve.js"></script>
