<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/owner_boilerplate.css" />
        <link rel="stylesheet" href="/css/owner_dashboard.css" />
        <link rel="stylesheet" href="/css/owner_properties.css" />
        <link rel="stylesheet" href="/css/owner_new_property.css" />
        <link rel="stylesheet" href="/css/owner_inbox.css" />
        <link rel="stylesheet" href="/css/owner_profile.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        />
        <link
            rel="icon"
            href="/images/favicon.png"
            type="image/icon type"
        />
        <title><%= page.charAt(0).toUpperCase() + page.slice(1) %></title>
    </head>
    <body>
        <%- include('components/header') %>
        <div class="boilerplate_container">
            <%- include('components/navigation', { page: page}) %>
            <div class="boilerplate_content">
                <div class="page_title"><%= page.charAt(0).toUpperCase() + page.slice(1) %></div>
                <% if (page === 'dashboard') { %>
                    <%- include('components/dashboard') %>
                <% } else if (page === 'properties') { %>
                    <%- include('components/properties') %>
                <% } else if (page === 'new property') { %>
                    <%- include('components/new_property') %>
                <% } else if (page === 'inbox') { %>
                    <%- include('components/inbox') %>
                <% } else if (page === 'profile') { %>
                    <%- include('components/profile') %>
                <% } %>
            </div>
        </div>
        <%- include('components/footer') %>
    </body>
</html>
